apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: rds-secret
  namespace: wordpress
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: global-secret-store
    kind: ClusterSecretStore
  target:
    name: aurora-db-secret
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: {{ rds_sec_name.stdout }}